/*
website colors:
navy: #012E4C
dark grey: #747474
teal: #8EC3AF
light grey: #D5D5D5
white: #FFFFFF
 */

body {
  margin: 0;
  text-align: center;
  color: #8EC3AF;
  font-family: 'Ubuntu', sans-serif;
}

/* Navigation Bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #747474;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  li {
    float: left;
  }

  li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #8EC3AF;
  }

  .active {
    background-color: #4CAF50;
  }

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

p {
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

.navbar {
  height: 100vh;
  width: 200px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
