/*
website colors:
navy: #012E4C
dark grey: #747474
teal: #8EC3AF
light grey: #D5D5D5
white: #FFFFFF
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #8EC3AF;
  font-family: 'Ubuntu', sans-serif;
}

.website {
  /*padding: 20px;*/
  margin-top: 30px;
}

/* Navigation Bar */
  ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #747474;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #8EC3AF;
  }

  .active {
    background-color: #4CAF50;
  }

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 12px;
  background: #D5D5D5;
  width: 0%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 35px;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 30px;

}

p {
  font-size: 25px;
}
